name: Release Tag

on: 
  workflow_dispatch:
  schedule:
    - cron: "0 18 10 */2 *"

jobs:
  release-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}
      - uses: fregante/setup-git-user@v2
      - name: Tag
        run: |
          TIMESTAMP=$(date +%y.%m.%d.%H.%M)
          git tag -a ${TIMESTAMP} -m "Tag ${TIMESTAMP}"
          git push origin ${TIMESTAMP}
